
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  display: grid;
}
.project-card {
    display: flex;
    max-width: 24rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

.project-title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #333333;
}

.card-status {
  font-size: .8em;
  color: #333333;
}

.card-description {
  padding: 0 2em 2em;
  margin: 0;
  color: #333333;
  font-family: "MockFlowFont";   
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}    

.card__tagline {
  display: inline;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #333333;  
}
  body {
    background-image: linear-gradient(to right, #76b5c5, #1e81b0, #154c79);
    font-family: 'Open Sans', sans-serif;
  }

  .logInDiv {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 20rem;
    height: 20rem;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    transform: translate(-50%);
  }

  .dot {
    height: 40px;
    width: 40px;
    background-image: linear-gradient(to right, #76b5c5, #1e81b0, #154c79);
    border-radius: 50%;
    display: inline-block;
    margin-left: 50%;
    box-shadow: 0 2px 20px rgba(24, 162, 230, 0.5);
    transform: translate(-50%);
  }

  table { 
    border-collapse:collapse;
    border-style : hidden!important;
    border:none; 
    
  }

  td {
    border: none;
    padding: .2rem;
  }

  #loginTextId {
    text-align: center;
    color:rgba(24, 162, 230, 1)
  }

  #paragonHeader {
    color: #fff;
  }

  hr.new5 {
    border: 1rem solid rgba(24, 162, 230, 1);
    border-radius: 5px;
  }

